<form action="/" method="post">
    <p>
        Titre: <input name="titre" type="text"><br/>
        Categorie: <input name="categorie" type="text"><br/>
        <textarea name="contenu"></textarea>
        <input type="submit">
        <input type="hidden" name="action" value="create">
        <input type="hidden" name="user" value="{{user.email}}">
    </p>
</form>