<form action="/" method="post">
    <p>
        Connexion: email <input type="text" name="email">
        <input type="submit"><input type="hidden" name="action" value="login">
    </p>
</form>
<form action="/" method="post">
    <p>
        Création de compte: email <input type="text" name="email"> surnom <input type="text" name="pseudo">
        <input type="submit">
        <input type="hidden" name="action" value="create_user">
    </p>
</form>
